
build --compilation_mode=dbg
build:ci --compilation_mode=opt

build --dynamic_mode=off
build --host_cxxopt='-std=c++23' --color=yes --cxxopt="-std=c++23" --@boost.asio//:ssl=boringssl
build --incompatible_autoload_externally=+cc_library,+cc_binary,+cc_test,+cc_proto_library,+proto_library,+sh_binary,+sh_library,+sh_test

build --action_env=CC
build --action_env=CXX
build --cxxopt=-fdiagnostics-color=always

test --test_output=errors

# IWYU configuration
build:iwyu --aspects=@bazel_iwyu//bazel/iwyu:iwyu.bzl%iwyu_aspect
build:iwyu --output_groups=report
